#bigbox {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    background-color: white;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 30px;
    text-align: center; 
    width: 30%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    margin: 10px 0;
    padding: 8px;
    width: 200px;
    border: none;
    background-color: #00938C;
    color: white;
    border-color: white;
}

body {
    background-image: url('제목을 입력해주세요_-001.png');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-size: cover;
    background-position: center;
}

button {
    color: white;
    padding: 5px;
    border: none;
    background-color: #00938C;
    margin-bottom: 60px;
}

.collapsible-box {
    margin-bottom: 10px;
    max-height: 20px;
    transition: 0.3s ease-in-out;
    background-color: #f1f1f1;
    border-radius: 10px;
    width: 70%;
    overflow: auto;
}

.collapsible-box.open {
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 10px;
    max-height: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    width: 70%;
    overflow: auto;
}

input::placeholder {
    color: white;
}

html, body {
    height: 100%;
    overflow-y: auto;
}

input[type="checkbox"] {
    margin-right: -90px;
}

label {
    margin-right: 70px;
    margin-bottom: 30px;
}
