#topdiv {
    margin: none;
    display: flex;
    gap: 10px;
    padding-top: 10px;
    padding-left: 1.5%;
    color: #ffffff;
    border: solid;
    border-color: #00938c;
    background-color:#00938c;
}

#middiv {
    margin: none;
    height: 200%;
    padding-left: 1.5%;
    color: #00938c;
    border: solid;
    border-color: #00938c;
}

img {
    object-fit: contain;
    display: flex;
    align-items: center;  
}

h1{
    display: flex;
    align-items: center;
}

button {
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 25px;
    transition: 0.5s;
    border: solid;
    border-color: #00938c;
    padding: 10px;
    border-radius: 10px;
    color: #ffffff;
    background-color: #00938c;
}

button:hover {
    transition: 0.5s;
    border: solid;
    border-color: #00938c;
    color: #00938c;
    background-color: #ffffff;
}

#office {
    object-fit: contain;
    width: 1895px;
    margin-bottom: 10px;
}

